<table>
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>Password</th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= link_to account.name, edit_account_path(account) %></td>
    <td><%= account.username %></td>
    <td><i>encrypted</i></td>
  </tr>
<% end %>
</table>

<br/>

<%= link_to 'Add your account info', new_account_path %>
