<h1>Your account info</h1>

<div class="info">
Your password will be encrypted using a public key. The private key isn't on this server, so you can be reasonably sure that your info is safe.
</div>

<%= render 'form' %>

<%= link_to 'Back', accounts_path %>
